@font-face {
    font-family: "MyCustomFont";
    src: url(../Fonts/AnimalesFantastic-lGly.ttf);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "MyCustomFont";
    background-color: #96C18F;
    background-size: cover; /* Add this line */
    background-repeat: no-repeat; /* Add this line */
}

#life-container {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #447B4A;
}

#question-container {
    text-align: center;
    font-family: "MyCustomFont";
    color: #447B4A;
    transition: transform 0.3s ease; /* Add this line */
}

#question-container:hover {
    transform: scale(1.05); /* Add this line */
}

.choice-btn {
    padding: 10px 20px;
    border: 1px solid #447B4A;
    border-radius: 5px;
    cursor: pointer;
    background-color: #447B4A;
    width: 500px; /* Modify this value as needed */
    text-align: center;
    display: block;
    margin: 0 auto;
    font-family: "MyCustomFont";
    transition: transform 0.3s ease; /* Add this line */
  }

#choices {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}


.choice-btn:hover {
    background-color: #447B4A;
    transform: scale(1.05); /* Add this line */
  }

#result-container {
    display: none;
    text-align: center;
    font-family: "MyCustomFont";
    color: #447B4A;
}

#restart-btn, #exit-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #447B4A;
    color: #fff;
    font-family: "MyCustomFont";
    transition: transform 0.3s ease; /* Add this line */
  }
  
  #restart-btn:hover, #exit-btn:hover {
    background-color: #447B4A;
    transform: scale(1.05); /* Add this line */
  }

  #hogwartsButton {
    position: fixed;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    z-index: 1000;
    font-family: "MyCustomFont";
}

@keyframes flicker {
    0% { background-color: red; }
    50% { background-color: transparent; }
    100% { background-color: red; }
}

.flicker-effect {
    animation: flicker 0.5s linear 1;
}
  